/* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-out;
}

/* exit */
.fade-exit {
    display: block;
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-in;
}

.fade-exit-done {
    opacity: 0;
}
